<mat-toolbar color="primary">
  <button mat-icon-button (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink="/">Vehicles</button>

  <span class="example-spacer"></span>
  <button mat-raised-button>
    User
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="/brands">
        <span>Brands</span>
      </mat-list-item>
      <mat-list-item routerLink="/models">
        <span>Models</span>
      </mat-list-item>
      <mat-list-item routerLink="/vehicles">
        <span>Vehicles</span>
      </mat-list-item>
      <!-- <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          Frameworks
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="#">Spring</a>
          <a mat-list-item routerLink="#">Hibernate</a>
          <a mat-list-item routerLink="#">Struts</a>
        </mat-nav-list>
      </mat-expansion-panel> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
